
<h1>About</h1>
<p>
The <a href="http://www.railstutorials.org/"><em>Ruby on railstutorials
Tutorial</em></a> is a
<a href="http://www.railstutorials.org/book">book</a> and
<a href="http//screencasts.railstutorial.org/">screencast series</a>
to teach webdevelopment with
<a href="http://rubyonrails.org/">Ruby on Rails</a>
this is the sample application
</p>
