
<h1>Help</h1>
<p>Get help on the ruby on rails tutorial at the
<a href="http:/www.railstutorials.org/help">Rails Tutorial help page</a>
to get help on this sample app, see the 
<a href="http://www.railstutorials.com/book"><em>Ruby on Rails Tutorial</em>
book</a> 
</p>